.admin-tourist-attraction-card {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    .admin-tourist-attraction-card_image {
      img {
        transform: scale(1.1);
      }
    }
  }

  .admin-tourist-attraction-card_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 150ms linear;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.8) 100%
      );
      border-radius: inherit;
      opacity: 1;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .tourist-attraction-name {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
  }

  .admin-tourist-attraction-card_action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
