.tour-create-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  background-color: #ffffff94;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .tour-create-main {
    width: 60%;
    min-width: 600px;
    height: 95vh;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 0 25px 0px rgba(94, 94, 94, 0.2);
    overflow-y: scroll;
    border-radius: 7px;
    position: relative;

    .admin-main__title {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      font-size: 1.4rem;
    }

    .back-to-prev-page_btn {
      width: fit-content;
      font-size: 0.9rem;
      font-style: italic;
      color: var(--primary-color);
      padding: 15px 0;

      span {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .admin-main-form {
      width: 100%;

      .prices-tour-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
      }

      .seats-n-vehicle {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }

      .time-tour-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
      }

      .prices-tour-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
      }

      .scheduleDes-tour-form {
        margin: 10px 0;
      }

      .upload-image-tour-form {
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 20px 0;
        height: 150px;
        display: flex;
        justify-content: center;
        padding: 20px 0;

        .upload-image-tour {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #e8e7e7;
          border-radius: 10px;
          cursor: pointer;
          user-select: none;

          &:hover {
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          }

          &:active {
            box-shadow: none;
          }

          div {
            height: 40px;
            width: 40px;
            overflow: hidden;
            border: none;
            border-radius: 50%;
            margin-bottom: 10px;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          span {
            color: #545454;
          }
        }

        input[type="file"] {
          display: none;
        }
      }

      .selected-images {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;

        &-item {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border: 2px solid rgb(86, 86, 211);
          border-radius: 5px;
          margin-left: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .delete-selected-files {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 20px;
          color: rgb(206, 13, 13);
          cursor: pointer;

          &:hover {
            color: rgb(131, 1, 1);
          }
        }
      }
    }
  }

  &.active {
    transform: scale(1);
  }
}

.admin-main-form {
  .prices-tour-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .seats-n-vehicle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .time-tour-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .prices-tour-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .scheduleDes-tour-form {
    margin: 10px 0;
  }

  .upload-image-tour-form {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px 0;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .upload-image-tour {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #e8e7e7;
      border-radius: 10px;
      cursor: pointer;
      user-select: none;

      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      }

      &:active {
        box-shadow: none;
      }

      div {
        height: 40px;
        width: 40px;
        overflow: hidden;
        border: none;
        border-radius: 50%;
        margin-bottom: 10px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      span {
        color: #545454;
      }
    }

    input[type="file"] {
      display: none;
    }
  }

  .selected-images {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &-item {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border: 2px solid rgb(86, 86, 211);
      border-radius: 5px;
      margin-left: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .delete-selected-files {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      color: rgb(206, 13, 13);
      cursor: pointer;

      &:hover {
        color: rgb(131, 1, 1);
      }
    }
  }
}
