.payment-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;

  .payment_icons {
    font-size: 5rem;
  }

  .payment_title {
    font-size: 2rem;
    font-weight: 600;
  }

  .payment_message {
    font-size: 1.1rem;
  }

  .payment {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    gap: 20px;

    &--success {
      color: green;
    }

    &--failed {
      color: rgb(179, 0, 0);
    }

    &--cancelled {
      color: rgb(138, 138, 0);
    }
  }
}
